- if object.errors.any?
  .error_panel
    .error_header
      %h3.error_title
        This transaction could not be saved.
    .error_body
      %ul
        - object.errors.full_messages.each do |tr|
          %li
            = tr
