<div class="panel panel-danger hidden" id="transaction_errors">
  <div class="panel-heading">
    <h3 class="panel-title">
      This transaction could not be saved.
    </h3>
  </div>
  <div class="panel-body">
    <ul></ul>
  </div>
</div>
