<%= render 'shared/big_titled_card', card_title: section_title do %>
  <div class="flow-root">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">Message</th>
          <% if actions %>
            <th scope="col" class="px-6 py-3 text-right">Mark as read</th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% (notifications || []).each do |n| %>
          <tr class="border-b odd:bg-white even:bg-gray-50 hover:bg-gray-50">
            <td class="px-6 py-4">
              <%= n.message %>
            </td>
            <% if actions %>
              <td class="px-6 py-4 text-right">
                <div class="flex-initial items-center text-base font-semibold text-gray-900">
                  <%= button_to notification_read_path(n), class: 'inline-flex items-center py-2 px-4 text-sm font-medium focus:outline-none text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-lg border focus:z-10 focus:ring-2' do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                    </svg>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
