%h4= title
%table.pure-table
  %thead
    %tr
      %th Message
      - if actions
        %th Mark as read
  %tbody
    - (notifications || []).each do |n|
      %tr
        %td= n.message
        - if actions
          %td
            = link_to notification_read_path(n), method: :post do
              %span.glyphicon.glyphicon-ok
