<%= render 'transactions/new' %>

<div class="shadow sm:rounded-md sm:overflow-hidden sm:mt-6">
  <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
    <h2 class="text-2xl font-semibold leading-normal mt-0 mb-5 text-gray-800">Overview</h2>

    <div data-controller="hello">
      Test
    </div>
  </div>
</div>
