<%= render 'transactions/new' %>

<div class="shadow sm:rounded-md sm:overflow-hidden sm:mt-6">
  <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
    <h2 class="text-2xl font-semibold leading-normal mt-0 mb-5 text-gray-800">Overview</h2>

    <div data-controller="hello">
      Test
    </div>

    <div data-controller="datatable" class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table
        class="datatable w-full text-sm text-left text-gray-500 dark:text-gray-400"
        id="transactions"
        data-source="<%= user_transactions_datatable_path(@user) %>"
      >
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Time</th>
            <th scope="col" class="px-6 py-3">Amount</th>
            <th scope="col" class="px-6 py-3">Peer</th>
            <th scope="col" class="px-6 py-3">Issuer</th>
            <th scope="col" class="px-6 py-3">Message</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-300"></tbody>
      </table>
  </div>
  </div>
</div>
