<div class="p-4 mb-4 bg-white rounded-lg border shadow-md sm:p-8">
  <div class="flex justify-between items-center mb-4">
    <h5 class="text-xl font-bold leading-none text-gray-900"><%= card_title %></h5>
    <%= link_to "View all", view_all_path, class: "text-sm font-medium text-blue-600 hover:underline" if defined?(view_all_path) %>
  </div>

  <div class="flow-root">
    <%= yield %>
  </div>
</div>
