<%= render 'shared/dashboard_card',
      card_title: "Outgoing requests",
      view_all_path: user_requests_path(current_user) do %>
  <ul role="list" class="divide-y divide-gray-200">
    <% if @outgoing_requests.any? %>
      <% @outgoing_requests.each do |r| %>
        <li class="py-3 sm:py-4">
          <div class="flex items-center space-x-4">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate">
                <%= r.debtor.name %>
              </p>
              <p class="text-md text-gray-500 truncate">
                <%= r.message %>
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900">
              <%= euro_from_cents r.amount %>
            </div>
          </div>
        </li>
      <% end %>
    <% else %>
      None!
    <% end %>
  </ul>
<% end %>
