<div class="card-wrapper">
  <% if @outgoing_requests.any? %>
    <div class="card">
      <div class="padded">
        <h3>Outgoing Requests</h3>
      </div>
      <% @outgoing_requests.each do |r| %>
        <div class="request pure-g">
          <div class="pure-u-2-3">
            <h4>
              <%= r.message %>
            </h4>
            <%= r.debtor.name %>
          </div>
          <div class="pure-u-1-3 actions">
            <%= euro_from_cents r.amount %>
          </div>
          <div class="clear-both"></div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="card padded">
      <span class="info-message">
        You have no open outgoing requests at the moment.
      </span>
    </div>
  <% end %>
</div>
