<div class="p-4 mb-4 bg-white rounded-lg border shadow-md sm:p-8">
  <div class="flex justify-between items-center mb-4">
    <h5 class="text-xl font-bold leading-none text-gray-900">Transfer</h5>
  </div>
  <div class="flow-root">
    <div
      id="transaction-form"
      data-controller="transaction-form"
      data-transaction-form-user-name="<%= current_user.name.to_json %>"
      data-transaction-form-balance="<%= current_user.balance.to_json %>"
      data-transaction-form-peers="<%= User.all.order(:name).pluck(:name).to_json %>"
      data-transaction-form-csrf-token="<%= form_authenticity_token.to_json %>"
    ></div>
  </div>
</div>
