%h1 Tab!
%h2 Authentication
- if user_signed_in?
  %p Yeah! Je bent ingelogd.
- else
  Log een keer in!
  %p= link_to "Log in met Zeus WPI", user_omniauth_authorize_path(:zeuswpi)
%h2 Cute Little Statistics
%p None here yet.
%h2 Wall of Shame
%table.pure-table
  %thead
    %th Shame on
    %th Contribution to Zeus' lack of money
  %tbody
    - @statistics.shameful_users.each do |user|
      %tr
        %td.shameful-person= user.name
        // Won't divide by zero because there won't be any users with
        // a shameful debt if the total debt is zero.
        %td.shame-percentage= "#{100 * user.balance / @statistics.total_debt}%"
