.pure-g
  .pure-u-7-12
    = render 'transactions'
  .pure-u-5-12
    .card-wrapper
      .card
        nieuwe transactie
    .card-wrapper
      .card
        requests
    .card-wrapper
      .card
        notifications

