<h1 class="columns-title">Tab</h1>
<div class="pure-g landing_columns">
  <div class="pure-u-1 pure-u-md-1-2">
    <h2>Authentication</h2>
    <p>Log een keer in en betaal uw schulden!</p>
    <p>
      <%= button_to "Log in met Zeus WPI", user_zeuswpi_omniauth_authorize_path, method: :post, class: "pure-button pure-button-primary login-button", data: { turbo: false } %>
    </p>
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <h2>Pie of Shame</h2>
    <%= pie_chart @statistics.shamehash, suffix: '%' %>
  </div>
</div>
