@layer components {
    /* The control elements */
    .dt-layout-start {
        @apply float-left px-6 py-6;
    }
    .dt-layout-end {
        @apply float-right px-6 py-4;
    }

    .dt-paging-button {
        @apply cursor-pointer inline-flex items-center text-blue-700 bg-white hover:bg-blue-800 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2.5 mr-1 text-center;
    }
    .dt-paging-button.current {
        @apply bg-blue-700 hover:bg-blue-800 text-white;
    }
    .dt-paging-button.disabled {
        @apply cursor-not-allowed;
    }

    /* The table itself */
    .dt-empty {
        @apply px-6 py-4;
    }
    .dt-row {
        @apply border-b odd:bg-white even:bg-gray-50 hover:bg-gray-50;
    }
    .dt-cell {
        @apply px-6 py-4;

        .dt-cell-amount {
            @apply text-right;
        }
    }
}
