.error_panel {
  margin-bottom: 1em;
  border-radius: 3px;
  border: 1px solid #ebccd1;
  .error_header {
    .error_title {
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 0;
    }
    padding: 10px 15px;
    color: #a94442;
    background-color: #f2dede;
  }
  .error_body {
    padding: 15px;
    ul {
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }
}
