// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shame-percentage {
  text-align: right
}

a.login-button {
  font-size: 200%;
  margin: 2em;
}

.columns-title {
  text-align: center;
}

.left-column {
  text-align: right;
  padding: 1em 3em;
  border-right: 1px solid black;
}

.right-column {
  text-align: left;
  padding: 1em 3em;
  border-left: 1px solid black;
}

.full-table {
  width: 100%;
}

.landing-column {
  padding: 1em;
}
