/*
  =require purecss/base
  =require purecss/buttons
  =require purecss/forms
  =require purecss/grids
  =require purecss/grids-responsive
  =require purecss/menus
  =require purecss/tables
*/

/* Alerts */
.pure-alert {
    position: relative;
    margin-bottom: 1em;
    padding: 1em;
    background: #ccc;
    border-radius: 3px;
}

.pure-alert label {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    white-space: nowrap;
}

.pure-alert {
    background-color: rgb(209, 235, 238);
    color: rgb(102, 131, 145);
}
.pure-alert-error {
    background-color: #D13C38;
    color: #fff;
}

.pure-alert-warning {
    background-color: rgb(250, 191, 103);
    color: rgb(151, 96, 13);
}

.pure-alert-success {
    background-color: rgb(83, 180, 79);
    color: #fff;
}

fieldset.pure-group-inline {
  display: inline-block;
  .pure-group-addon {
    padding: .5em .6em;
    box-shadow: inset 0 1px 3px #ddd;
    border: 1px solid #ccc;
    white-space: nowrap;
    border-collapse: separate;
    margin-left: -4px;
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &:first-child {
      margin-left: 0;
      border-radius: 4px 0 0 4px;
      border-right: 0;
    }
  }
}
