<div id="accordion-collapse" data-accordion="collapse">
  <h2 id="filters-heading">
    <button type="button" class="flex justify-between items-center p-5 w-full font-medium text-left text-gray-500 rounded-xl border border-gray-200 focus:ring-4 focus:ring-gray-200 hover:bg-gray-100" data-accordion-target="#filters" aria-expanded="true" aria-controls="filters">
      <span>Filters</span>
      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
  </h2>
  <div id="filters" class="hidden" aria-labelledby="filters-heading">
    <div class="p-5 border rounded-b-xl border-gray-200">
      <form>
        <!-- Date -->
        <div data-input-type="date-range" data-filter-name="Time" class="bound input-listen grid xl:grid-cols-2 xl:gap-6">
          <div class="relative w-full mb-6 group">
            <label for="minimum" class="block mb-2 text-sm font-medium text-gray-900">After</label>
            <div class="flex">
            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md ">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
              </svg>
            </span>
              <input type="date" id="minimum" class="value-thing lower-bound rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5">
            </div>
          </div>
          <div class="relative w-full mb-6 group">
            <label for="maximum" class="block mb-2 text-sm font-medium text-gray-900">Before</label>
            <div class="flex">
            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md ">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
              </svg>
            </span>
              <input type="date" id="maximum" class="value-thing upper-bound rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5">
            </div>
          </div>
        </div>
        <!-- Amount -->
        <div data-input-type="number-range" data-filter-name="Amount" class="bound input-listen grid xl:grid-cols-2 xl:gap-6">
          <div class="relative w-full mb-6 group">
            <label for="minimum" class="block mb-2 text-sm font-medium text-gray-900">Minimum</label>
            <div class="flex">
            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md">
              ≥ Ƶ
            </span>
              <input type="number" id="minimum" step="0.01" class="value-thing lower-bound rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5">
            </div>
          </div>
          <div class="relative w-full mb-6 group">
            <label for="maximum" class="block mb-2 text-sm font-medium text-gray-900">Maximum</label>
            <div class="flex">
            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md">
              ≤ Ƶ
            </span>
              <input type="number" id="maximum" step="0.01" class="value-thing upper-bound rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5">
            </div>
          </div>
        </div>
        <!-- Peer -->
        <div class="grid xl:grid-cols-2 xl:gap-6">
          <div data-input-type="text" data-filter-name="Issuer" class="input-listen relative w-full mb-6 group">
            <label for="issuer" class="block mb-2 text-sm font-medium text-gray-900">Issuer</label>
            <%= grouped_collection_select nil, nil, [User, Client], :all, :name, :name, :name,
                { include_blank: true },
                { data: { controller: 'select', placeholder: "Filter on Issuer", width: 265 },
                class: "value-thing rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" } %>
          </div>
          <div data-input-type="text" data-filter-name="Peer" class="input-listen relative w-full mb-6 group">
            <label for="peer" class="block mb-2 text-sm font-medium text-gray-900">Peer</label>
            <div class="flex">
              <%= select_tag nil,
                options_from_collection_for_select(User.all.order(:name), :name, :name),
                include_blank: true,
                class: "value-thing rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5",
                data: { controller: 'select', placeholder: "Filter on Peer" } %>
            </div>
          </div>
        </div>
        <!-- Message -->
        <div class="input-listen" data-filter-name="Message" data-input-type="text" >
          <label for="message" class="block mb-2 text-sm font-medium text-gray-900">Message</label>
          <input type="text" id="message" class="value-thing live-updating rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5">
        </div>
      </form>
    </div>
  </div>
</div>
