%table#transactions.display{data: { source: transactions_path }}
  %thead
    %tr
      %th id
      %th debtor
      %th creditor
      %th amount
  %tbody

:javascript
  $(document).ready(function() {
    $('#transactions').DataTable({
      'processing': true,
      'serverSide': true,
      'ajax': $('#transactions').data('source'),
      'pagingType': 'full_numbers'
      });
  });
