name: "docker: Build and push ghcr.io/zeuswpi/tab:latest"

on:
  push:
    branches:
      - master

concurrency:
  group: docker-master
  cancel-in-progress: true

jobs:
  docker-master:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.production
          push: true
          tags: |
            ghcr.io/zeuswpi/tab:latest
            ghcr.io/zeuswpi/tab:latest-${{ github.sha }}
